.propic{
    height: 70px;
    width: 80px;
    border-radius: 50%;
    border-style: solid;
    border-color: orange;
    padding: 2px;
}


.propic{
    position: relative;
    margin-left: -20px;
}

.propicName{
    position: relative;
    margin-left: 10px;
    margin-top: 300px;
    color: black;
    font-size: large;
    font-weight: bold;
}

.propicnamebar{
    text-align: center;
    margin-left: -140px;
}

.propicandname{
    margin-left: 120px;
    
    position: relative;
    margin-top: 20px;
}

.propicName2{
    color: rgb(112, 111, 111);
}

.likes{
    display: flex;
    margin-left: -20px;
}

.likesblock1{
    flex: 1;
    text-align: center;
}

.likesblock2{
    flex: 1;
    text-align: center;
}

.likesblock3{
    flex: 1;
    text-align: center;
}

.likesno{
    font-size: large;
    font-weight: bold;
}

.likesname{
    color: rgb(112, 111, 111);

}