.container{
    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.postownernameandlike{
    display: flex;
    justify-content: space-between;

    
    

}

.postImage{
    height: 350px;
    width: 300px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    
}

.picandname{
    align-items: center;
    display: flex;
}

.postImage2{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border-style: solid;
    padding: 2px;
    position: relative;
    margin-top: 0px;
    margin-left: 6px;
    
    
}

.postImage2name{
    margin-left: 5px;
    font-weight: bold;
}

.likesandcomment{
    display: flex;
    align-items: center;
}

.likecount{
    margin-right: 5px;
}

.commentcount{
    margin: 0px 5px 0px 2px;
}

.likecount{
    margin: 0px 8px 0px 2px;
}